
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

.site {
    width: 100%;
    height: 100%;
    background-color: lightpink;
}
.head {
width: 100%;
height: 100px;
display: flex;

}
.cof {
    width: 50%;
    height: 100px;
    font-size: medium;
    font-style: italic;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}

.info {
    width: 50%;
    height: 100px;
    font-size: medium;
    font-style: italic;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    
}
.menu__link {
    margin-left: 24px;
    color: white;
    font-size: 20px;
    }

.prewew {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-top: 10%;
}

.block1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Gl_text {
    display: flex;
    margin-left: 24px;
    color: white;
    font-size: 50px;
    font-weight: 600;
    line-height: 109%;
    margin-bottom: 32px;
    width: 100%;
    margin-top: 10%;
}

.Info_help {
    display: flex;
    color: white;
    font-size: 15px;
    line-height: 109%;
    margin-bottom: 32px;
    opacity: .75;
    margin-left: 24px;
    
}
.slider_image {
    width: 460px;
}
.but1 {
    display: flex;
}

.block2 {
    display: flex;
}